aea==1.1.0
aea-ledger-ethereum==1.1.0
aea-ledger-fetchai==1.1.0
attrs==21.2.0
base58==2.1.0
bech32==1.2.0
bitarray==1.2.2
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
cosmpy==0.1.4
cytoolz==0.11.0
ecdsa==0.16.1
eth-abi==2.1.1
eth-account==0.5.2
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
google-api-core==2.1.1
google-api-python-client==2.27.0
google-auth==2.3.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
grpcio==1.41.0
hexbytes==0.2.2
httplib2==0.20.1
idna==3.3
ipfshttpclient==0.6.1
jsonschema==3.2.0
lru-dict==1.1.7
multiaddr==0.0.9
netaddr==0.8.0
packaging==20.9
parsimonious==0.8.1
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.11.0
pymultihash==0.8.2
pyparsing==2.4.7
pyrsistent==0.18.0
python-dotenv==0.17.1
PyYAML==5.4.1
requests==2.26.0
rlp==1.2.0
rsa==4.7.2
semver==2.13.0
six==1.16.0
toolz==0.11.1
uritemplate==4.1.1
urllib3==1.26.7
varint==1.0.2
web3==5.12.0
websockets==8.1
